<a href="javascript:history.back()"><img src="<%= asset_path 'jeongbotong.png' %>" width="100%" ></a>
<body style="background: url(/assets/redred.png) no-repeat fixed; responsive; background-size: cover;"  width="100%">

              <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.7); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'junmi.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">전자IT미디어공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>술 타요<br><br>
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

             <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.7); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'comgong.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">컴퓨터공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>복고<br><br>
                            <strong>폐점시간 : </strong>오전 2시 00분<br>
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

  <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.7); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'junjung.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">전기정보공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>FBI Warning<br><br>
                            <strong>폐점시간 : </strong>오전 2시 00분<br>
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
</body>
