
    
           a:link{color:black; font-weight: bold; font-size: 16px}
           a:visited{color: green;font-weight: bold}
           a:hover{color:blue;font-weight: bold}
           a:active{color: red;font-weight: bold}
           a:{text-align:center ;}
    .ahref1{
    text-align: center; 
    }
         